<!DOCTYPE html>
<html xmlns:th="http://www.thymeLeaf.org">
<head>
<meta charset="ISO-8859-1">
<title>login page</title>
</head>
<body>

  <div class="container">
     <h1 style="color:green">User login form</h1>
     <form class="col-5" th:action="@{/userLogin}" th:object="${user}" method="post">
         <label><h5>UserId</h5></label>
         <input type="text" class="form-control"  th:field="*{userId}">
         <label><h5>password</h5></label>
         <input type="password" class="form-control"  th:field="*{password}">
          
           <br><br/>
         <button type="submit" class="btn btn-success" style="background-color:green";"border-radius:10px">Login</button>
     </form>
  </div>
</body>
</html>